body{
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding:1
}

.container{
    background-color: gray;
    height:65vh;
    width:20vw;
    padding:2%;
}

#display{
    background-color: white;
    width:100%;
    text-align: right;
}

#buttons{
    background-color: lightgray;
    display:flex;
    flex-direction: column;
    height: 100%;
}

#left-buttons{
    width:16vw;
    background-color: brown;
    display:flex;
}

.top{
    display: flex;
}

#operators button{
    display:block;
    width:4vw;
}

#numbers{
    width:12vw;
}

#right-buttons{
    height: auto;
    display: flex;
    flex-direction: column;
}

#equals button{
    height:100%;
}

#backspace button, #equals button{
    width:4vw;
}


.bottom{
    display:flex;
}

.bottom button{
    width:4vw;
}

.bottom .zero{
    width: 8vw;
}


